# Django
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Entornos virtuales
myvenv/
venv/
env/
.venv/

# IDE/Editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y caché
*.log
*.pot
*.pyc