{% extends 'vetweb/base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section con imagen de fondo -->
<div class="hero-slider about-page">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'vetweb/img/somos.jpg' %}" class="d-block w-100" alt="FleboVet">
            <div class="carousel-caption">
                <div class="container">
                    <div class="caption-content text-start">
                        <h1>Quiénes Somos</h1>
                        <p>Innovación tecnológica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
